# Домашнее задание № 1.
## Анализ данных по доходу населения UCI Adult

In [157]:
import pandas as pd

In [158]:
data = pd.read_csv('../Data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. Сколько мужчин и женщин представлено в этом наборе данных?

In [159]:
(data['sex']=='Male').sum(), \
(data['sex']=='Female').sum()

(21790, 10771)

### 2. Каков средний возраст женщин?

In [160]:
data[data['sex']=='Female']['age'].mean()

36.85823043357163

### 3. Какова доля граждан Германии?

In [181]:
(data['native-country']=='Germany').sum()/(data['native-country']).count()

0.004207487485028101

### 4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

##### Зарплата менее 50К:

In [162]:
print( "Средний возраст: "+str(int(data[data['salary']=='<=50K']['age'].mean()))+" года" )
print( "среднеквадратичное отклонение возраста: "+str(data[data['salary']=='<=50K']['age'].std()) )

Средний возраст: 36 года
среднеквадратичное отклонение возраста: 14.020088490824813

##### Зарплата более 50К:

In [163]:
print( "Средний возраст: "+str(int(data[data['salary']!='<=50K']['age'].mean()))+" года" )
print( "среднеквадратичное отклонение возраста: "+str(data[data['salary']!='<=50K']['age'].std()) )

Средний возраст: 44 года
среднеквадратичное отклонение возраста: 10.51902771985177

### 6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [164]:
data[data['salary']=='>50K']['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

##### В массиве значений есть значения, подразумевающие отсутствие высшего образования, поэтому гипотеза не верна

### 7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.

##### Массив значений:

In [174]:
data.groupby('race').age.describe()

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,311.0,37.173633,12.447130,17.0,28.0,35.0,45.5,82.0
Asian-Pac-Islander,1039.0,37.746872,12.825133,17.0,28.0,36.0,45.0,90.0
Black,3124.0,37.767926,12.759290,17.0,28.0,36.0,46.0,90.0
Other,271.0,33.457565,11.538865,17.0,25.0,31.0,41.0,77.0
White,27816.0,38.769881,13.782306,17.0,28.0,37.0,48.0,90.0

In [202]:
data[(data['race']=='Amer-Indian-Eskimo')&(data['sex'] == 'Male')].age.max()

82

### 8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

In [342]:
# функция подсчета женатых или неженатых в передаваемом массиве
def marry_status_count(data_for_counting,Married):
    count_m=0
    count_nm=0
    for marry_status in data_for_counting['marital-status']:
        if (marry_status.find('Married')==0 and Married!='Non-Married'):
            count_m+=1
        if (marry_status.find('Married')!=0 and Married=='Non-Married'):
            count_nm+=1
    if Married=='Non-Married':
        return(count_nm)
    else:
        return(count_m)

In [343]:
marry_status_count(data[data['salary']=='>50K'],'Married'), \
marry_status_count(data[data['salary']=='>50K'],'Non-Married')

(6736, 1105)

##### Женатых значительно больше среди зарабатывающих много

### 9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [346]:
data['hours-per-week'].describe()

count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours-per-week, dtype: float64

In [393]:
max_h=data['hours-per-week'].max()
print( str(max_h)+' - Максимальное число часов человека, работающего в неделю' )

99 - Максимальное число часов человека, работающего в неделю

In [394]:
people_max_h=data[data['hours-per-week']==(data['hours-per-week'].max())].age.count()
print( str(people_max_h)+' людей работают '+str(max_h)+' часов' )

85 людей работают 99 часов

In [397]:
rich_people_max_h=data[(data['salary']=='>50K')&(data['hours-per-week']==data['hours-per-week'].max())].age.count()
print( str(rich_people_max_h)+' людей среди них зарабатывают больше 50K' )

25 людей среди них зарабатывают больше 50K

In [404]:
rich_people_percent_max_h=round(rich_people_max_h/people_max_h*100,2)
print( str(rich_people_percent_max_h)+'% - процент зарабатывающих много среди тех, кто работает максимальное кол-во часов' )

29.41% - процент зарабатывающих много среди тех, кто работает максимальное кол-во часов

### 10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).