# Домашнее задание № 1.
## Анализ данных по доходу населения UCI Adult

In [3]:
import pandas as pd

In [6]:
data = pd.read_csv('../Data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. Сколько мужчин и женщин представлено в этом наборе данных?

In [7]:
(data['sex']=='Male').sum(), \
(data['sex']=='Female').sum()

(21790, 10771)

### 2. Каков средний возраст женщин?

In [42]:
data[data['sex']=='Female']['age'].mean()

36.85823043357163

### 3. Какова доля граждан Германии?

In [48]:
(data['native-country']=='Germany').sum()/(data['native-country']).count()

0.004207487485028101